
@import "colors.css";
* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background-color:@background;
  color: @text;
}

#workspaces button {
  padding: 0 8px;
  color: #bbbbbb;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: @accent;
}

#clock,
#pulseaudio,
#network,
#battery,
#tray {
  padding: 0 10px;
}
